$blue_50: #e8f2ff;
$blue_100: #d5e7ff;
$blue_200: #b3d1ff;
$blue_300: #85b0ff;
$blue_400: #5681ff;
$blue_500: #2f53ff;
$blue_600: #0c1fff;
$blue_700: #0011ff;
$blue_800: #0616cd;
$blue_900: #101f9f;
$blue_950: #0a115c;
$size: 10px;